<html>

<body bgcolor=#a3cfb4>

    <center>

        <h1>  PREDICTION :  </h1>
    
    {%if data == 0%}
    <h1>Acting</h1>  
    <img src='static\acting.png'>  
    {%elif data == 1%}
    <h1>Acting, Media and Entertainment</h1>
    <img src='static\acting.png'>
    {%elif data == 2%}
    <h1>Arts</h1>
    <img src='static\arts.png'>  
    {%elif data == 3%}
    <h1>Civil Services</h1>
    <img src='static\civil.png'>  
    {%elif data == 4%}
    <h1>Commerce</h1>
    <img src='static\commerce.png'>  
    {%elif data == 5%}
    <h1>Commerce, Finance and Accounts</h1>
    <img src='static\finance.png'>
    {%elif data == 6%}
    <h1>Commerce, professor or teacher</h1>
    <img src='static\commerce.png'>
    {%elif data == 7%}
    <h1>Defence</h1>
    <img src='static\defence.png'>  
    {%elif data == 8%}
    <h1>Defence, Civil Services</h1>
    <img src='static\civil.png'>
    {%elif data == 9%}
    <h1>Engineering</h1>
    <img src='static\engineering.png'>  
    {%elif data == 10%}
    <h1>Finance and Accounts</h1>
    <img src='static\finance.png'>
    {%elif data == 11%}
    <h1>InformationTechnology</h1>
    <img src='static\it.png'>
    {%elif data == 12%}
    <h1>Science,_Medical</h1>
    <img src='static\science.png'>
    {%elif data == 13%}
    <h1>Law</h1>
    <img src='static\law.png'>
    {%elif data == 14%}
    <h1>Law, Marketing and Sales</h1>
    <img src='static\marketingSales.png'>
    {%elif data == 15%}
    <h1>Management</h1>
    <img src='static\management.png'>
    {%elif data == 16%}
    <h1>Management, Finance and Accounts</h1>
    <img src='static\finance.png'>
    {%elif data == 17%}
    <h1>Management, Marketing and Sales, Startup</h1>
    <img src='static\management.png'>
    {%elif data == 18%}
    <h1>Management, Startup</h1>
    <img src='static\startup.png'>
    {%elif data == 19%}
    <h1>Media and Entertainment</h1>
    <img src='static\media.png'>
    {%elif data == 20%}
    <h1>Medical</h1>
    <img src='static\medical.png'>
    {%elif data == 21%}
    <h1>Science, Arts, Acting, Defence, Media and Entertainment, Startup, Civil Services</h1>
    <img src='static\startup.png'>
    {%elif data == 22%}
    <h1>Science, Arts, Engineering, Media and Entertainment, Management, Law, Marketing and Sales, Startup, Finance and Accounts</h1>
    <img src='static\management.png'>
    {%elif data == 23%}
    <h1>Science, Engineering, InformationTechnology</h1>
    <img src='static\it.png'>
    {%elif data == 24%}
    <h1>Science, Engineering, Medical, Media and Entertainment, InformationTechnology, Startup, Finance and Accounts</h1>
    <img src='static\startup.png'>
    {%elif data == 25%}
    <h1>Science, InformationTechnology</h1>
    <img src='static\science.png'>
    {%elif data == 26%}
    <h1>Science, Marketing and Sales</h1>
    <img src='static\science.png'>
    {%elif data == 27%}
    <h1>Science, Medical</h1>
    <img src='static\science.png'>
    {%elif data == 28%}
    <h1>Science, Sports, Engineering</h1>
    <img src='static\science.png'>
    {%elif data == 29%}
    <h1>InformationTechnology,Engineering</h1>
    <img src='static\engineering.png'>
    {%elif data == 30%}
    <h1>Science,Engineering</h1>
    <img src='static\engineering.png'>
    {%elif data == 31%}
    <h1>Sports</h1>
    <img src='static\sports.png'>
    {%elif data == 32%}
    <h1>Sports,Engineering, InformationTechnology</h1>
    <img src='static\it.png'>
    {%elif data == 33%}
    <h1>Startup</h1>
    <img src='static\startup.png'>
    {%elif data == 34%}
    <h1>professor or teacher</h1>
    <img src='static\professor.png'>
    {%else%}
    <h1>It seems that you are interested in various field.So,if you want to know about your real interest you should give the test again...</h1>

    {%endif%}

        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>



