<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> CHOOSE YOUR INTEREST...... </h1><br>
        <img src='static\banner.png' alt="TrueMentor">

        
            <h2> For input purpose,follow below mentioned rating and rate according to your interest.</h2>
            <table>
                <td>
                    <h4> Education level:</h4>
                    <h4> Post matric=0</h4>
                    <h4> Post intermediate=1</h4>
                    <h4> Post graduation=2</h4>
                    <h4> Professional=3</h4>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <h4> Strongly dislike=0</h4>
                    <h4> Dislike=1</h4>
                    <h4> unsure=2</h4>
                    <h4> Like=3</h4>
                    <h4> Strongly like=4</h4>
                </td>
            </table>
            


    
        
        <form method="POST", action="{{url_for('home')}}">
           <b>
                <input type="text" size="70" style="font-size:14pt;", name='a', placeholder="What_is_your_educational_level?" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='b', placeholder="Provide_physical_therapy_to_people_recovering_from_an_injury " required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='c', placeholder="Create_special_effects_for_movies/_edit_movies" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='d', placeholder="Give_career_guidance_to_people" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='e', placeholder="Manage_a_department_within_a_large_company" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='f', placeholder="Manage_the_operations_of_a_hotel " required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='g', placeholder="Study_the_movement_of_planets" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='h', placeholder="Load_computer_software_into_a_large_computer_network" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='i', placeholder="Assemble_electronic_parts" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='j', placeholder="Draw_pictures " required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='k', placeholder="Compute_and_record_statistical_and_other_numerical_data" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='l', placeholder="Write_a_song" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='m', placeholder="Act_in_a_play" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='n', placeholder="Study_space_travel" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='o', placeholder="Conduct_chemical_experiments " required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='p', placeholder="Develop_a_new_medicine" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='q', placeholder="Play_a_musical_instrument" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='r', placeholder="Organize_and_schedule_office_meetings" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='s', placeholder="Teach_an_individual_or_a_group_of_students" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='t', placeholder="Handle_customers_bank_transactions" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='u', placeholder="Assemble_Products_in_a_Factory" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='v', placeholder="Manage_a_supermarket" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='w', placeholder="Buy_and_sell_land" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='x', placeholder="Want_to_serve_the_motherland_with_prestig" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='y', placeholder="Write_books_or_plays" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='z', placeholder="Teach_children_how_to_play_sports " required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='aa', placeholder="Perform_comedy_routines_in_front_of_an_audience" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='bb', placeholder="Perform_nursing_duties_in_a_hospital" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='cc', placeholder="Write_scripts_for_movies_or_television_shows" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='dd', placeholder="Test_the_quality_of_parts_before_shipment" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='ee', placeholder="Start_your_own_business" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='ff', placeholder="Catch_fish_as_a_member_of a_fishing_crew" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='gg', placeholder="Help_elderly_people_with_their_daily_activities " required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='hh', placeholder="Sell_computer_equipment_in_a_store" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='ii', placeholder="Develop_a_way_to_better_predict_the_weather" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='jj', placeholder="Do_laboratory_tests_to_identify_diseases" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='kk', placeholder="Study_ways_to_reduce_water_pollution" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='ll', placeholder="Sell_automobiles" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='mm', placeholder="Investigate_crimes" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='nn', placeholder="Teach_a_high-school_class" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='oo', placeholder="Market_a_new_line_of_clothing" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='pp', placeholder="Audition_singers_and_musicians_for_a_musical_show" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='qq', placeholder="Maintain_network_hardware_and_software" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='rr', placeholder="Set_up_and_operate_machines_to_make_products" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='ss', placeholder="Give_a_presentation_of_a_product_you_are_selling" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='tt', placeholder="Spray_trees_to_prevent_the_spread_of_harmful_insects" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='uu', placeholder="Knowledge_of_marketing_strategy" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='vv', placeholder="Keep_records_for_financial_transactions_for_an_organization" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='ww', placeholder="Teach_sign_language_to_people_with_hearing_disabilities" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='xx', placeholder="Loves_to_know_about_new_technology" required="required"> <br><br>
                <input type="text" size="70" style="font-size:14pt;", name='yy', placeholder="Interest_to_know_how_computer_works" required="required"> <br><br>
                
                 <br>
              </b>
              
        <input type="submit" size="30" style="font-size:30pt;"  value='predict career' >
        </form>

        
    </center>
    

    </body>
</html>
