<html>
    <body bgcolor=#80AAEC>
        <head>
            <meta name="viewport" content="width=device-width, initial-sacale=1">


        </head>
        
<center>
        <h1> CHECK YOUR PERSONALITY...... </h1><br>
        <img src='static\bann.png' alt="TrueMentor">
</center>
        <form method="POST", action="{{url_for('home')}}">
            <label for="a">You_enjoy_spending_plenty_of_time_alone</label>
                <select id="a" name="a" required='required'>
                <option value="1">agree</option>
                <option value="2">unsure</option>
                <option value="3">disagree</option>
                </select><br><br>
                <label for="b">You_do_your_best_thinking_alone</label>
                <select id="b" name="b" required='required'>
                <option value="1">agree</option>
                <option value="2">unsure</option>
                <option value="3">disagree</option>
                </select><br><br>
                <label for="c">You_have_a_large_group_friends</label>
                <select id="c" name="c" required='required'>
                <option value="1">agree</option>
                <option value="2">unsure</option>
                <option value="3">disagree</option>
                </select><br><br>
                <label for="d">You_are_bored_when_you_are_alone</label>
                <select id="d" name="d" required='required'>
                <option value="1">agree</option>
                <option value="2">unsure</option>
                <option value="3">disagree</option>
                </select><br><br>
                <label for="e">You_have_no_desire_to_be_the_center_of_attention</label>
                <select id="e" name="e" required='required'>
                <option value="1">agree</option>
                <option value="2">unsure</option>
                <option value="3">disagree</option>
                </select><br><br>
                <label for="f">You_avoid_small_talks_whenever_possible</label>
                <select id="f" name="f" required='required'>
                <option value="1">agree</option>
                <option value="2">unsure</option>
                <option value="3">disagree</option>
                </select><br><br>

                <label for="g">You_like_social_gatherings</label>
                <select id="g" name="g" required='required'>
                <option value="1">agree</option>
                <option value="2">unsure</option>
                <option value="3">disagree</option>
                </select><br><br>
                <label for="h">You_are_a_natural_born_leader</label>
                <select id="h" name="h" required='required'>
                <option value="1">agree</option>
                <option value="2">unsure</option>
                <option value="3">disagree</option>
                </select><br><br>
                <label for="i">You_are_better_at_writing_your_thoughts_than_speaking_them</label>
                <select id="i" name="i" required='required'>
                <option value="1">agree</option>
                <option value="2">unsure</option>
                <option value="3">disagree</option>
                </select><br><br>
                <label for="j">You_speak_your_mind</label>
                <select id="j" name="j" required='required'>
                <option value="1">agree</option>
                <option value="2">unsure</option>
                <option value="3">disagree</option>
                </select><br><br>
                <center>
                
                    <input type="submit" size="30" style="font-size:30pt;"  value='predict' >
                    </form>
            </center>
            
                    
                
                    
            
                </body>
            </html>
            