<html>

<body bgcolor=#C1AEF6>
    <head>
        <meta name="viewport" content="width=device-width, initial-sacale=1">


    </head>

    <center>

        <h1>  PREDICTION :  </h1>
    
    {%if data == 0%}
    <h1>Acting</h1>  
    <img src='static\acting.png'>

    {%elif data == 1%}
    <h1>Arts</h1>
    <img src='static\arts.png'>
    {%elif data == 2%}
    <h1>Civil Services</h1>
    <img src='static\civil.png'>  
    {%elif data == 3%}
    <h1>Commerce</h1>
    <img src='static\commerce.png'>  
    {%elif data == 4%}
    <h1>Defence</h1>
    <img src='static\defence.png'>  
    {%elif data == 5%}
    <h1>Engineering</h1>
    <img src='static\engineering.png'>
    {%elif data == 6%}
    <h1>Finance and Accounts</h1>
    <img src='static\finance.png'>
    {%elif data == 7%}
    <h1>InformationTechnology</h1>
    <img src='static\it.png'>  
    {%elif data == 8%}
    <h1>Law</h1>
    <img src='static\law.png'>
    {%elif data == 9%}
    <h1>Management</h1>
    <img src='static\management.png'>  
    {%elif data == 10%}
    <h1>Marketing and Sales</h1>
    <img src='static\marketingSales.png'>
    {%elif data == 11%}
    <h1>Media and Entertainment</h1>
    <img src='static\media.png'>
    {%elif data == 12%}
    <h1>Medical</h1>
    <img src='static\medical.png'>
    {%elif data == 13%}
    <h1>Science</h1>
    <img src='static\science.png'>
    {%elif data == 14%}
    <h1>Sports</h1>
    <img src='static\sports.png'>
    <h1>If you want to know about this field in brief then visit through this link <a style="color:darkorange"href="https://targetcareers.co.uk/careers-advice/choosing-your-career/1034364-careers-in-sports">Sports</a></h1>
    {%elif data == 15%}
    <h1>startup</h1>
    <img src='static\startup.png'>
    <h1>If you want to know about startup in brief then visit through this link <a style="color:darkorange"href="https://www.startupindia.gov.in/content/sih/en/startup-scheme.html">Startup</a></h1>
    
    {%elif data == 16%}
    <h1>Professor or Teacher</h1>
    <img src='static\professor.png'>
    
    {%else%}
    <h1>It seems that you are interested in various field.So,if you want to know about your real interest you should give the test again...</h1>
    <img src='static\Confuse.png'>
    {%endif%}

        <br><br>
    <a href='/'>go back to home page</a>

    </center>

</body>

</html>



