<html>
    <body bgcolor=#5AF94E>
        <head>
            <meta name="viewport" content="width=device-width, initial-sacale=1">


        </head>
        
<center>
        <h1> CHOOSE YOUR INTEREST...... </h1><br>
        <img src='static\banner.png' alt="TrueMentor">

        
            <h2> For input purpose,rate according to your interest.</h2>
            <table border='2'>
                <tr>
                    <td><h4> Strongly dislike=1</h4></td>
                </tr>
                <tr>
                    <td><h4> Dislike=2</h4></td>
                </tr>
                <tr>
                    <td><h4> unsure=3</h4></td>
                </tr>
                <tr>
                    <td><h4> Like=4</h4></td>
                </tr>
                <tr>
                    <td><h4> Strongly like=5</h4></td>
                </tr>
            </table><br><br>
        </center>
            
            
        <form method="POST", action="{{url_for('home')}}">
            <label for="a">1.Provide_physical_therapy_to_people_recovering_from_an_injury</label>
                <select id="a" name="a" required='required'>
                    <option></option>        
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="b">2.Create_special_effects_for_movies/_edit_movies</label>
                <select id="b" name="b" required='required'>
                <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>

                <label for="c">3.Give_career_guidance_to_people</label>
                <select id="c" name="c" required='required'>
                <option></option>                   
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="d">4.Manage_a_department_within_a_large_company</label>
                <select id="d" name="d" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>

                <label for="e">5.Manage_the_operations_of_a_hotel</label>
                <select id="e" name="e" required='required'>
                    <option></option>               
                     <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="f">6.Study_the_movement_of_planets</label>
                <select id="f" name="f" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="g">7.Load_computer_software_into_a_large_computer_network</label>
                <select id="g" name="g" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="h">8.Assemble_electronic_parts</label>
                <select id="h" name="h" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="i">9.Compute_and_record_statistical_and_other_numerical_data</label>
                <select id="i" name="i" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="j">10.Act_in_a_play</label>
                <select id="j" name="j" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="k">11.Study_space_travel</label>
                <select id="k" name="k" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="l">12.Conduct_chemical_experiments</label>
                <select id="l" name="l" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="m">13.Organize_and_schedule_office_meetings</label>
                <select id="m" name="m" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="n">14.Teach_an_individual_or_a_group_of_students</label>
                <select id="n" name="n" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="o">15.Handle_customers_bank_transactions</label>
                <select id="o" name="o" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="p">16.Assemble_Products_in_a_Factory</label>
                <select id="p" name="p" required='required'> 
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="q">17.Manage_a_supermarket</label>
                <select id="q" name="q" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="r">18.Buy_and_sell_land</label>
                <select id="r" name="r" required='required' required='required'> 
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="s">19.Want_to_serve_the_motherland_with_prestige</label>
                <select id="s" name="s" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="t">20.Write_books_or_plays</label>
                <select id="t" name="t" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="u">21.Teach_children_how_to_play_sports</label>
                <select id="u" name="u" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="v">22.Perform_comedy_routines_in_front_of_an_audience</label>
                <select id="v" name="v" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="w">23.Write_scripts_for_movies_or_television_shows</label>
                <select id="w" name="w" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="x">24.Start_your_own_business</label>
                <select id="x" name="x" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="y">25.Develop_a_way_to_better_predict_the_weather</label>
                <select id="y" name="y" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="z">26.Do_laboratory_tests_to_identify_diseases</label>
                <select id="z" name="z" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="aa">27.Study_ways_to_reduce_water_pollution</label>
                <select id="aa" name="aa" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="bb">28.Investigate_crime</label>
                <select id="bb" name="bb" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="cc">29.Teach_a_high-school_class</label>
                <select id="cc" name="cc" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="dd">30.Opportunity_of_innovating_and_bringing_ideas_to_life </label>
                <select id="dd" name="dd" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="ee">31.Maintain_network_hardware_and_software</label>
                <select id="ee" name="ee" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="ff">32.Set_up_and_operate_machines_to_make_products</label>
                <select id="ff" name="ff" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="gg">33.Knowledge_of_marketing_strategy</label>
                <select id="gg" name="gg" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="hh">34.Keep_records_for_financial_transactions_for_an_organization</label>
                <select id="hh" name="hh" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="ii">35.Loves_to_know_about_new_technology</label>
                <select id="ii" name="ii" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="jj">36.Want_to_get_key_positions_in_government</label>
                <select id="jj" name="jj" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="kk">37.Always_want_to_be_part_of_drama_or_play</label>
                <select id="kk" name="kk" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="ll">38.Interested_in_photography</label>
                <select id="ll" name="ll" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="mm">39.Perform_advertisement</label>
                <select id="mm" name="mm" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="nn">40.Knowledge_of_historical_events_and_their_causes</label>
                <select id="nn" name="nn" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="oo">41.Watch_sports_channel_during_your_free_time</label>
                <select id="oo" name="oo" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="pp">42.Like_to_do_business_dealings</label>
                <select id="pp" name="pp" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="qq">43.Want_to_know_about_trading_of_economic_value</label>
                <select id="qq" name="qq" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="rr">44.Be_the_part_of_outdoor_games_during_any_festival</label>
                <select id="rr" name="rr" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="ss">45.Have_vital_national_interest</label>
                <select id="ss" name="ss" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="tt">46.Want_to_live_adventurous_disciplined_lives</label>
                <select id="tt" name="tt" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="uu">47.Learning_about_human_body</label>
                <select id="uu" name="uu" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="vv">48.Knowledge_of_banking_and_the_analysis_of_financial_data</label>
                <select id="vv" name="vv" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="ww">49.Learn_about_court_procedures</label>
                <select id="ww" name="ww" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="xx">50.Want_opportunities_to_serve_in_leadership</label>
                <select id="xx" name="xx" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>
                <label for="yy">51.Idea_of_democratic_political_process</label>
                <select id="yy" name="yy" required='required'>
                    <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                </select><br><br>

<center>
                
        <input type="submit" size="30" style="font-size:30pt;"  value='predict career' >
        </form>
</center>

        
    
        

    </body>
</html>
